<div class="map-index-card" data-controller="membership">
  <div class="index-img-container d-flex justify-content-center align-items-center h-100">
    <%= image_tag("thebeach.jpeg", class: "map-index-avatar") %>
  </div>
  <div class="map-index-card-content">
    <div class="map-index-info">
      <%= link_to map_path(map), class: "map-index-info-link" do %>
        <h2><%= map.name %></h2>
      <% end %>
      <p class="description"><%= map.description %></p>
      <div class="map-index-icons-div">
        <div>
          <i class="fa-solid fa-user-group"></i> <%= number_with_delimiter(map.users.count) %>
        </div>
        <div>
          <i class="fa-solid fa-map-pin"></i> <%= number_with_delimiter(map.pins.count) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2 icon-column">
    <% if current_user && current_user.maps.include?(map) %>
      <div class="d-flex gap-3 justify-content-center align-items-center">
        <!-- <div class="" data-markers="<%= markers %>" data-map-id="<%= map.id %>" data-action="click->google-maps#showOneMap">
          <i class="fa-solid fa-arrows-to-circle" style="color: #52946B; font-size: 1rem;"></i>
        </div> -->
        <div data-membership-target="icon">
          <i class="fa-solid fa-bookmark" style="color: #52946B; font-size: 30px;"></i>
        </div>
      </div>
    <% elsif current_user %>
      <div class="d-flex gap-3 justify-content-center align-items-center">
        <!-- <div class="" data-markers="<%#= markers %>" data-map-id="<%#= map.id %>" data-action="click->google-maps#showOneMap">
          <i class="fa-solid fa-arrows-to-circle"></i>
        </div>  -->
        <%= link_to map_memberships_path(map), method: :post, class: "icon-button", data: { action: "click->membership#join" } do %>
          <div data-membership-target="icon">
            <i class="fa-regular fa-bookmark" style="color: #52946B; font-size: 30px;"></i>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
