<div class="map-card" data-controller="membership">
  <%= image_tag("thebeach.jpeg", class: "map-avatar") %>
  <div class="map-info">
    <h2><%= map.name %></h2>
    <div class="member-count">
      <%= number_with_delimiter(map.users.count) %> members
    </div>
    <p class="description"><%= map.description %></p>
  </div>
  <div class="icon-container">
    <% if current_user.maps.include?(map) %>
      <div data-membership-target="icon">
        <i class="fa-solid fa-bookmark" style="color: #52946B; font-size: 1rem;"></i>
      </div>
    <% else %>
      <%= link_to map_memberships_path(map), method: :post, class: "icon-button", data: { action: "click->membership#join" } do %>
        <div data-membership-target="icon">
          <i class="fa-regular fa-bookmark" style="color: #52946B; font-size: 1rem;"></i>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
