<div data-controller="google-maps" data-markers="<%= (@markers || []).to_json %>">
  <div class="g-map-sticky" style="height: fit-content">
    <div
    id="map"
    style="width: 100%;
    height: 400px;"
    >
    </div>
    <div class="container search-bar-container-index map-list">
      <%= form_with url: maps_path, method: :get, local: true do |form| %>
        <div class="search-input">
          <%= form.text_field :query, placeholder: "Find Maps and Places", class: "form-control" %>
        </div>
        <%= form.submit "search", class: "button" %>
      <% end %>
    </div>
  </div>
  <div class="container overflow-scroll d-flex flex-column" style="height: 290px;">
    <ul class="nav nav-tabs sticky-top bg-white mb-4">
      <li class="nav-item">
        <%#= link_to "Communities", maps_path(status: "communities"), class: "nav-link #{'active' if @status == 'communities'}" %>
        <button class="nav-link active" id="maps-tab" data-bs-toggle="tab" data-bs-target="#maps" type="button" role="tab" aria-controls="maps" aria-selected="true" style="z-index: 0;">Maps</button>
      </li>
      <li class="nav-item">
        <%#= link_to "Places", maps_path(status: "places"), class: "nav-link #{'active' if @status == 'places'}" %>
        <button class="nav-link" id="places-tab" data-bs-toggle="tab" data-bs-target="#places" type="button" role="tab" aria-controls="places" aria-selected="false">Places</button>
      </li>
    </ul>
    <div class="tab-content flex-grow-1" id="myTabContent">
      <div class="tab-pane fade show active" id="maps" role="tabpanel" aria-labelledby="maps-tab">
        <p class="description"><%= pluralize(@maps.count, "community") %> found</p>
        <div class="map-list mb-5">
          <% @maps.each_with_index do |map, i| %>
            <%= render "maps/maps_index_card", map: map, markers: @markers_by_map[map.id].to_json %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="places" role="tabpanel" aria-labelledby="places-tab">
        <p class="description"><%= pluralize(@places.count, "Place") %> found</p>
        <div id="places-cards" class="mb-5">
          <% @places.each do |place| %>
            <%= render "place_search_card", place: place %>
            <%#= render "place_search_card", place: place, pin: Pin.new.tap(&:build_place) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
