<div data-controller="place-search">
  <div class="search-bar-container container" class="map-list";>
    <%= form_with url: maps_path, method: :get, local: true do |form| %>
      <div class="search-input">
        <%= form.text_field :query, placeholder: "Find Communities", class: "form-control" %>
      </div>
      <%= form.submit "search", class: "button" %>
    <% end %>
  </div>
</div>
<ul class="nav nav-pills mb-4">
  <li class="nav-item">
    <%#= link_to "Communities", maps_path(status: "communities"), class: "nav-link #{'active' if @status == 'communities'}" %>
    <button class="nav-link active" id="maps-tab" data-bs-toggle="tab" data-bs-target="#maps" type="button" role="tab" aria-controls="maps" aria-selected="true">Maps</button>
  </li>
  <li class="nav-item">
    <%#= link_to "Places", maps_path(status: "places"), class: "nav-link #{'active' if @status == 'places'}" %>
    <button class="nav-link" id="places-tab" data-bs-toggle="tab" data-bs-target="#places" type="button" role="tab" aria-controls="places" aria-selected="false">Places</button>
  </li>
</ul>
<div class="tab-content mt-3" id="myTabContent">
  <div class="tab-pane fade show active" id="maps" role="tabpanel" aria-labelledby="maps-tab">
    <p><%= pluralize(@maps.count, "community") %> found</p>
    <div class="map-list">
      <% @maps.each do |map| %>
        <%= render "maps/maps_index_card", map: map %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="places" role="tabpanel" aria-labelledby="places-tab">
    <div id="places-cards">
      <% @places.each do |place| %>
        <%= render "place_search_card", place: place %>
      <% end %>
    </div>
  </div>
</div>
<%# , data: { action: "submit->place-search#search" } %>
<%# , data: { "place-search-target": "search" } %>
