<div class="container overflow-scroll h-100">
  <div class="new-map-container">
  <div class="mt-5 text-center"><h1>Create a new map</h1></div>
  <!-- Title Field -->
  <%= form_with model: @map, local: true do |form| %>
    <div class="my-3">
      <label for="map_name" class="form-label">
        <h3>Give your map a name</h3>
      </label>
      <%= form.text_field :name, class: "form-control", required: true %>
    </div>
    <div data-controller="char-counter">
      <h3>Describe your map</h3>
      <%= form.text_area :description,
        class: "form-control", rows: 4, maxlength: 300, required: true,
        data: { char_counter_target: "textarea", action: "input->char-counter#onInput" } %>
      <div class="form-text" id="charCount" data-char-counter-target="count">
        0 / 300
      </div>
    </div>
    <div class="my-3">
      <h3>Choose your tags</h3>
      <div id="selected-tags" class="mt-3 d-flex flex-wrap"></div>
      <div class="tag-pills" id="tag-pills">
        <div data-controller="map-tags">
          <% @tags.each do |tag| %>
            <span
              data-action="click->map-tags#toggle"
              class="badge rounded-pill text-bg-secondary text-white text-center m-1 p-2"
              >
              <%= tag %>
            </span>
          <% end %>
        </div>
      </div>
      <%= form.hidden_field :tag_list, id: "map_tag_list" %>
    </div>

    <div data-controller="sharing">
      <%= form.hidden_field :permission, value: "public_access", data: { sharing_target: "input" } %>
      <div class="d-grid gap-2">
        <button type="button"
            class="btn btn-outline-secondary d-flex align-items-center gap-2"
            data-sharing-target="option"
            data-sharing-value="public_access"
            data-action="click->sharing#select">
          <i class="fa-solid fa-earth-asia"></i> Collaborate with the world
        </button>
        <button type="button"
            class="btn btn-outline-secondary d-flex align-items-center gap-2"
            data-sharing-target="option"
            data-sharing-value="shared"
            data-action="click->sharing#select">
          <i class="fa-solid fa-people-group"></i> Share it with friends
        </button>
        <button type="button"
            class="btn btn-outline-secondary d-flex align-items-center gap-2"
            data-sharing-target="option"
            data-sharing-value="private_access"
            data-action="click->sharing#select">
          <i class="fa-solid fa-lock"></i> Keep it private
        </button>
        
        
      </div>
        <div class="my-3">
          <button type="submit" class="button">Create!</button>
        </div>
      </div>
      <% end %>
      </div>
</div>