<!-- app/views/maps/show.html.erb -->

<%= render "shared/navbar" %>

<div class="map-and-list">
  <!-- Aquí va tu div para el mapa -->
  <div data-controller="google-maps"
       data-markers='<%= raw @markers.to_json %>'>
    <div id="map" style="width:100%; height:50vh;"></div>
    <%= link_to maps_path, class: "button-left-abs" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>

  <!-- Lista de pines debajo del mapa: -->
  <ul class="pins-list">
    <% @map.pins.each do |pin| %>
      <% place = pin.place %>
      <% if place.present? %>
        <li class="pin-card"
            data-action="click->google-maps#focusOn"
            data-lat="<%= place.latitude %>"
            data-lng="<%= place.longitude %>">
          <%= link_to place_path(place) do %>
            <div class="pincard-text">
              <h2><%= place.title %></h2>
              <p><%= place.address %></p>
              <p>Opening Hours: <%= place.opening_hours %></p>
            </div>
          <% end %>

          <% if current_user %>
            <%= link_to place_path(place), class: "btn-location-pin" do %>
              <i class="fa-solid fa-circle-info"></i>
            <% end %>
          <% else %>
            <div class="btn-location-pin disabled">
              <i class="fa-solid fa-circle-info"></i>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<!-- Aquí seguiría el resto de tu vista, si tienes más secciones abajo -->
