<!-- app/views/maps/show.html.erb -->
<div data-controller="google-maps"
     data-markers='<%= raw @markers.to_json %>'>
  <div class="g-map-sticky">
    <div id="map" style="width:100%; height:50vh;"></div>
  </div>
  <div class="container mb-4">
    <div class="pins-list-section">
      <div class="map-show-header">
        <div class="row w-100 flex-grow-1 align-items-center">
          <div class="col-10 px-0 text-info">
            <h2><%= @map.name %></h2>
            <p class="description"><%= @map.description %></p>
            <p class="description"><%= number_with_delimiter(@map.pins.count) %> pins</p>
            <div class="member-pin-count">
              <% images = [
                "fake_user1.jpeg",
                "fake_user2.jpeg",
                "fake_user3.jpeg",
                "fake_user4.jpeg",
                "fake_user6.jpeg",
                "fake_user8.jpeg",
                "fake_user9.jpeg",
              ] %>
              <% if @map.users.count >3 %>
                <% images.sample(3).each do |img| %>
                  <img src="<%= asset_path(img) %>" class="collaborator-avatar" />
                <% end %>
                <span>+ <%= number_with_delimiter(@map.users.count - 3)  %> more collaborators</span>
              <% else %>
                <% images.first(@map.users.count).each do |img| %>
                  <img src="<%= asset_path(img) %>" class="collaborator-avatar" />
                <% end %>
                <span><%= number_with_delimiter(@map.users.count) %> collaborators<span>
                  <% end %>
                </div>
              </div>
              <div class="col-2 icon-column">
                <% if current_user && current_user.maps.include?(@map) %>
                  <div data-membership-target="icon">
                    <i class="fa-solid fa-bookmark" style="color: #52946B; font-size: 30px;"></i>
                  </div>
                <% elsif current_user %>
                  <%= link_to map_memberships_path(@map), class: "icon-button", data: { turbo_method: :post, action: "click->membership#join" } do %>
                    <div data-membership-target="icon">
                      <i class="fa-regular fa-bookmark" style="color: #52946B; font-size: 30px;"></i>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="overflow-scroll-list">
            <div class="places-icons-container d-flex justify-content-center">
              <button class="search-new-place"
              data-controller="modal"
              data-action="click->modal#open">
                🔍Search for a New Place
              </button>
            </div>
            <% if @map.pins.any? %>
              <ul class="pins-list">
                <% @map.pins.each do |pin| %>
                  <% place = pin.place %>
                  <% if place.present? %>
                    <li class="pin-card">
                      <div class="row flex-grow-1 align-items-center">
                        <div class="col-10">
                          <div class="pincard-text">
                            <%= link_to place_path(place) do %>
                              <h2><%= place.title %></h2>
                              <p><%= place.address %></p>
                            <% end %>
                          </div>
                        </div>
                        <div class="col-2 p-0">
                          <div class="icon-column">
                            <button type="button" class="btn-add-pin" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><i class="fa-solid fa-square-plus" style="color: #52946B; font-size: 30px;"></i></button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Select a map to pin to:</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <%= simple_form_for @pin, url: pins_path do |f| %>
                                    <div class="modal-body">
                                      <%= f.input :map_id, collection: current_user.maps, label: "Choose a map", as: :select, value_method: :id, label_method: :name, input_html: { class: "form-select" } %>
                                      <%= f.hidden_field :place_id, value: place.id %>
                                      <%= f.hidden_field :redirect_map_id, value: @map.id %>
                                    </div>
                                    <div class="modal-footer">
                                      <%= f.submit "Add Pin", class: 'button' %>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  <% else %>
                    <li class="pin-card"><em>No place found.</em></li>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
            <% if @map.pins.count < 6 %>
              <div class="map-show-header">
                <h3>Our Recommendations</h3>
              </div>
              <ul class="pins-list">
                <% Place.all.each do |place| %>
                  <% already_pinned = @map.pins.exists?(place_id: place.id) %>
                  <li class="pin-card">
                    <div class="row flex-grow-1 align-items-center">
                      <div class="col-10">
                        <div class="pincard-text">
                          <%= link_to place_path(place) do %>
                            <h2><%= place.title %></h2>
                            <p><%= place.address %></p>
                          <% end %>
                        </div>
                      </div>
                      <div class="col-2 p-0">
                        <div class="icon-column">
                          <% unless already_pinned %>
                            <%= form_with model: Pin.new, url: pins_path, method: :post, class: "inline-form" do |f| %>
                              <%= f.hidden_field :map_id, value: @map.id %>
                              <%= f.hidden_field :place_id, value: place.id %>
                              <%= f.hidden_field :redirect_map_id, value: @map.id %>
                              <button type="submit" class="btn-add-pin">
                                <i class="fa-solid fa-square-plus" style="color: #52946B; font-size: 30px;"></i>
                              </button>
                            <% end %>
                          <% else %>
                            <button class="btn-add-pin"><i class="fa-solid fa-square-check" style="color: #52946B; font-size: 30px;"></i></button>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
        <%= render "places/modal" %>
      </div>
    </div>
