<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'pins_background.png' %>); background-size: cover; background-position: center; padding: 60px 20px; border-radius: 16px; color: white; text-align: center;">

    <div class="container">
      <h1>Create <strong>maps</strong> with <strong>Pins</strong>!</h1>
      <p>Maps, created for you by you and your community.</p>

      <div class="button-group" style="margin-top: 20px;">
        <a class="btn btn-primary" href="<%= maps_path %>">Explore</a>
        <a class="btn btn-light" href="<%= new_user_session_path %>">Log in</a>
        <a class="btn btn-light" href="<%= new_user_registration_path %>">Sign up</a>
        <a class="btn btn-outline-light" href="<%= new_user_password_path %>">Forgot password?</a>
      </div>
    </div>

  </div>
</div>
