<div class="body-wrap" style="position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= asset_path("saulo-bg.png") %>');
  background-size: cover;
  background-position: center;
  ">
  <div class="white-overlay" style="
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(255,255,255,0.4);
    z-index: 1;
  "></div>
  <div class="banner" style="position: relative; z-index: 2;">
    <div class="container">
      <h1>Pins!</h1>
      <h2>Create and share maps to bring community to your pocket</h2>
    </div>
    <div class="cta-container">
      <a href="<%= user_signed_in? ? owner_maps_path : maps_path %>" class="cta-button">🚀 Start pinning</a>
    </div>
    <h2>Trending Community Maps</h2>
    <div class="swiper mySwiper2">
      <div class="swiper-wrapper">
        <% @maps = Map.where(permission: "public_access") %>
        <% @maps.limit(5).each do |map| %>
          <% first_place = map.places.first %>
          <div class="swiper-slide">
            <%= link_to map_path(map), class: "card-category" do %>
              <%= map.name %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <h2>Popular Spots Near You</h2>
    <div class="swiper mySwiper2">
      <div class="swiper-wrapper">
        <% @maps = Map.where(permission: "public_access") %>
        <% @maps.limit(4).each do |map| %>
          <% first_place = map.places.first %>
          <div class="swiper-slide">
            <%= link_to map_path(map), class: "card-category" do %>
              <%= map.name %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
