<div class="body-wrap" style="position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= asset_path("pins_background.png") %>');
  background-size: cover;
  background-position: center;
  ">
  <div class="white-overlay" style="
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 1;
  "></div>
  <div class="banner" style="position: relative; z-index: 2;">
    <div class="container">
      <h1>Create. Share. Pin.</h1>
    </div>
    <h2>Trending Community Maps</h2>
    <div class="swiper mySwiper2">
      <div class="swiper-wrapper">
        <% @maps = Map.where(permission: "public_access") %>
        <% @maps.limit(3).each do |map| %>
          <% first_place = map.places.first %>
          <div class="swiper-slide">
            <%= link_to map_path(map), class: "card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#{first_place&.photo_url.presence || asset_path('tokyo_tower.jpeg')})" do %>
              <%= map.name %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <h2>Weekly Finds</h2>
    <div class="swiper mySwiper2">
      <div class="swiper-wrapper">
        <% @maps = Map.where(permission: "public_access") %>
        <% @maps.limit(4).each do |map| %>
          <% first_place = map.places.first %>
          <div class="swiper-slide">
            <%= link_to map_path(map), class: "card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#{first_place&.photo_url.presence || asset_path('tokyo_tower.jpeg')})" do %>
              <%= map.name %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
