<div id="carouselExample" class="carousel slide carousel-absolute">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag(@place.photo_url.presence || "pins_background.png", alt: "text", class: "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag(@place.photo_url.presence || "pins_background.png", alt: "text", class: "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag(@place.photo_url.presence || "pins_background.png", alt: "text", class: "d-block w-100") %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <div class="text-bottom">
    <h1><%= place.title %></h1>
    <p><%= place.address %></p>
  </div>
</div>
