<div class="map-filter-card">
  <%= image_tag("thebeach.jpeg", class: "map-avatar") %>
  <div class="map-filter-card-infos">
    <%= link_to map_path(map), class:"text-decoration-none" do  %>
      <h2><%= map.name %></h2>
    <% end %>
    <p class="description"><%= map.description %></p>
  </div>
  <div class="pin-toggle checked <%= color %>-pin" data-action="click->google-maps#filterToggle" data-google-maps-target="pinsToggle" data-map-index="<%= i %>"
    id="map_<%=i%>" >
    <i class="fa-solid fa-location-dot map-filter-icon "></i>
    <%# <i class="fa-regular fa-eye map-filter-icon"></i> %>
  </div>
  <div class="member-count text-top">
  </div>
</div>
