<div data-controller="google-maps" data-markers="<%= @markers.to_json %>">
  <%# <input type="text" id="place-search" data-google-maps-target="search" placeholder="Search for a place..." />
  <button id="search-btn" data-action="click->google-maps#search">Search</button> %>
  <%# <div id="search-results"> %>
  <div class="g-map-sticky">
    <div
    id="map"
    style="width: 100%;
    height: 60vh;"
    >
    </div>
    <div class="container search-bar-container-index ">
      <%= form_with url: maps_path, method: :get, local: true do |form| %>
        <div class="search-input">
          <%= form.text_field :query, placeholder: "Communities", class: "form-control" %>
        </div>
        <%= form.submit "Search", class: "button" %>
      <% end %>
    </div>
  </div>
  <div class="overflow-scroll-list search-bar-container-mb">
    <!--<p class="p-0"><%#= pluralize(@maps.count, "community") %> found</p> -->
    <div class="container">
      <% @maps.each_with_index do |map, i| %>
        <% color = @colors[i % @colors.length ] %>
        <%= render "maps_filter_card", map: map, i: i, color: color %>
      <% end %>
    </div>
  </div>
</div>
</div>
