<turbo-frame id="search_results">
  <% @places.each do |place| %>
    <div class="place-card">
      <strong><%= place.title %></strong><br>
      <%= place.address %><br>
      <%= form_with url: places_path, method: :post, data: { turbo_frame: "_top" } do |f| %>
        <%= hidden_field_tag "place[title]", place.title %>
        <%= hidden_field_tag "place[address]", place.address %>
        <%= hidden_field_tag "place[latitude]", place.latitude %>
        <%= hidden_field_tag "place[longitude]", place.longitude %>
        <%= hidden_field_tag "place[photo_url]", place.photo_url %>
        <%= hidden_field_tag :map_id, @map.id %>
        <%= f.submit "Save", class: "btn" %>
      <% end %>
    </div>
  <% end %>
</turbo-frame>
