<div class="container">
  <%= render "places/partials/show_carousel", place: @place %>
  <div class="row places-info mt-2">
    <div class="col-10 offset-1">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel fuga cum nesciunt, quia libero molestias sint. Nemo tempore sequi hic accusantium blanditiis in odio qui excepturi rerum? Beatae, quibusdam quo?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia hic aut numquam corrupti eius, iure officiis. Eos a magnam molestiae quisquam id. Expedita ut obcaecati officiis beatae vel laboriosam molestias.
      </p>
    </div>
  </div>
  <div class="reviews">
    <div class="col-10 offset-1 d-flex gap-3 mb-3 justify-content-between">
      <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa-solid fa-thumbs-up"></i>
      </a>
      <a
        href="https://www.google.com/maps/dir/?api=1&destination=<%= @place.latitude %>,<%= @place.longitude %>"
        target="_blank"
        rel="noopener"
        title="Get directions with Google Maps"
      >
        <i class="fa-solid fa-route" style="color: #52946B; font-size: 2rem;"></i>
      </a>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="col-10 offset-1">
        <%= form_with model: [@place, Review.new], local: true do |f| %>
          <div class="mb-3">
            <%= f.label :content, "Add a review", class: "form-label" %>
            <%= f.text_area :content, rows: 3, class: "form-control" %>
          </div>
          <%= f.submit "Submit Review", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    
    <div class="reviews col-10 offset-1 mt-4">
      <h1>Reviews:</h1>
      <%= render @reviews %>
    </div>
  </div>
  
</div>
